.colorpalette-section{
	
	.palette{
		width: 100px;
		height: 100px;
		margin: $gutter;
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
		&.color1{
		background-color: $color1;	
		}

		&.color2{
			background-color: $color2;
		}

		&.color3{
			background-color: $color3;
		}	
	
	}
	.palettelabel{
		text-align: center;
		display: inline-block;
		vertical-align: middle;
	}
	
}



