body{
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

h1{
	
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;
	.colored{
		color: $color1;
	}
}
	
h2{
	
	
	letter-spacing: 1px;
	text-transform: uppercase;
}

p{
	
}