/* 

	Fonts

 */

h1, .h1{
	font-size: rem(40px);
	margin: 0 0 .5rem;
}

h2, .h2{
	font-size: rem(20px);
	margin: 0 0 .5rem;
}
h3, .h3{
	font-size: 1rem;
	margin: 1rem 0 .5rem;
}
p, .p{
	font-size: 1rem;
	line-height: 1.4rem;
	margin: 0 0 .5rem;
}
