

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}



strong{
	font-weight: bold;
}
em{
	font-style: italic;
	
}

.show{
	display: block;
}

.hide{
	display: none !important;
}

.center{
	margin: 0 auto;
}

figure.responsive > *{
	max-width: 100%;
	width: 100%;
}