

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    }



body{
	background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
	color: $dark;
}

a{
	text-decoration: none;
	color: $color1;
}

time{
	display: block;
	width:100%;
}


.main{
	position: relative;
	background-color: $white;
	top: $splash-height;
	padding: $menu-height $gutter;
	
}


.splash{
	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 700px;
	padding-top: $menu-height;
	overflow: hidden;
	
	
	.splash-content{

		
		
	}
	.left-side{
		margin-top: $gutter*6;
		margin-bottom: $gutter*6; 
	}
	.right-side{
		
	}
}

.timer-box{
	max-width: 350px;
	background-color:$white;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 0 10px -1px #e5e1e1;
	.timer{
		margin: 10px 0;
		text-align: center;
	}
}