
	
input, label{
	display: block;
	width: 100%;
	
}

input[type="text"], textarea, input[type="password"]{
	padding: 5px 10px;
	font-family: "Open Sans", sans-serif;
	font-size: $base-font-size;
	
	border: 1px solid $lightgrey;
}
