/* 

	Inputs & Forms

 */

input, label{
	display: block;
	width: 100%;
	
}

input[type="text"], textarea, input[type="password"], input[type="email"]{
	padding: 5px 10px;
	font-family: "Open Sans", sans-serif;
	font-size: $base-font-size;	
	border: 1px solid $lightgrey;
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
}
