$number_of_columns: 24;
$page-width: 960px;
$gutter: 20px;
$base-font-size: 16px;
$menu-height: 90px;


$dark: #111115;
$white: #fff;

$color1: #27140B;
$color2: #FFF4D2;
$color3: #E2A5A9;
$color4: #8D7B60;
$color5: #D9D2C5;